<form id="login" method="post">
    <input type="email" id="email" placeholder="Tu Email">
    <br></br>
    <input type="password" id="password" placeholder="Contraseña">
    <br></br>
    <input type="submit" value="login"></input>
</form>

<script type="text/javascript">

  const formLogin = document.querySelector('#login');

  formLogin.addEventListener('submit', event =>{
    event.preventDefault();
    var emailStr = document.getElementById('email').value;
    var passwordStr = document.getElementById('password').value;
    const params = new URLSearchParams();
    params.set('email',emailStr);
    params.set('password',passwordStr);

    fetch('/api/login',{
      method: 'POST',
      body: params,
      headers: {'Content-Type':'application/x-www-form-urlencoded'}
    })
    .then(response => response.json())
    .then(data => console.log('Token generado: '+data.token))
    .catch(res =>{ alert('Ocurrio un error: '+res.message)});
  });
</script>